
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Switcheroo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      </div>
    </div>

    <div class="container">
      <h1>Switcheroo</h1>
      <hr>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
          <h2>What's available</h2>

		  <% if flash[:notice] %>
		  <div class="alert alert-success"><%= flash[:notice] %></div>
		  <% end %>

		  <div class="span4">
		  	<h4>Programs installed</h4>
			<% @all_programs.each do |program_name| %>
			<p><a class="btn btn-primary" href="#" 
				onclick="$('#delete_form').attr('action', $('#delete_form').attr('action').replace('$PROGRAM', '<%= program_name %>')).submit()">delete</a> <%= program_name %></p>			
				<% end %>
		  </div>
		
		<div class="span3">
		  	<h4>Upload new Programs</h4>
		  	<div>
		  		<%= form_tag('/program/new', :method => "post", :multipart => true) do %>
					<p>
						<%= label_tag(:name, "Name") %>
						<%= text_field_tag(:name) %>
					</p>
					<p>
						<%= label_tag(:artifact, "Artifact") %>
						<%= file_field_tag(:artifact) %>
					</p>
					<br/>
          			<p>
						<%= submit_tag("Create", :class => "btn btn-primary")%>
						<a class="btn" href="/">Back</a>
					</p>
				<% end %>
		  	</div>
		  </div>
        </div>  
      </div>

      <hr>
	  <form action="/program/$PROGRAM/delete" method="POST" id="delete_form" style="display:none;">
	  </form>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-alert.js"></script>
    <script src="js/bootstrap-modal.js"></script>
    <script src="js/bootstrap-dropdown.js"></script>
    <script src="js/bootstrap-scrollspy.js"></script>
    <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/bootstrap-popover.js"></script>
    <script src="js/bootstrap-button.js"></script>
    <script src="js/bootstrap-collapse.js"></script>
    <script src="js/bootstrap-carousel.js"></script>
    <script src="js/bootstrap-typeahead.js"></script>

  </body>
</html>
